<!-- listar-cafe.component.html -->
<div class="container mt-3">
  <div>
    <h1 style="font-family: 'Inder'">El aroma mágico</h1>
    <hr>
    <img
      src="assets/images/cafe-banner.png"
      alt="Banner de Café"
      style="width: 100%; height: auto"
    />
  </div>


  <hr />
  <hr />
 
  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Región</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cafe of cafes">
        <td>{{ cafe.id }}</td>
        <td>{{ cafe.nombre }}</td>
        <td>{{ cafe.tipo }}</td>
        <td>{{ cafe.region }}</td>
      </tr>
    </tbody>
  </table>

  <p>total Café de origen: {{ origenCount }}</p>
  <p>total Café blend: {{ blendCount }}</p>
</div>
